// ----------------------------------------------
//   Colors
// ----------------------------------------------
$--beauty-yellow-100: #ecdd7b;
$--beauty-yellow-200: #eee088;
$--beauty-yellow-300: #f0e495;
$--beauty-yellow-400: #f2e7a3;
$--beauty-yellow-500: #f4ebb0;

$--beauty-green-100: #3cbbb1;
$--beauty-green-200: #36a89f;
$--beauty-green-300: #30968e;
$--beauty-green-400: #2a837c;
$--beauty-green-500: #24706a;

$--beauty-red-100: #e0777d;
$--beauty-red-200: #ca6b71;
$--beauty-red-300: #b35f64;
$--beauty-red-400: #9d5358;
$--beauty-red-500: #86474b;

$--beauty-blue-100: #247ba0;
$--beauty-blue-200: #3a88aa;
$--beauty-blue-300: #5095b3;
$--beauty-blue-400: #66a3bd;
$--beauty-blue-500: #7cb0c6;

$--beauty-gray-100: #252627;
$--beauty-gray-200: #515152;
$--beauty-gray-300: #666768;
$--beauty-gray-400: #7c7d7d;
$--beauty-gray-500: #a8a8a9;

// ----------------------------------------------
//   Sizing
// ----------------------------------------------
$--root-size: 8.00px;

// ----------------------------------------------
//   Typography
// ----------------------------------------------

/*   Font Family    */
$--font-family-sans: "Montserrat", sans-serif;
$--font-family-serif: "Playfair Display", serif;
/*   Font Size    */
$--font-size-sm: 8;
/*   Font Weight    */
/*   Line Height    */